chardet==5.2.0
demucs==4.0.1
evaluate==0.4.6
ffmpeg-python==0.2.0
jiwer==4.0.0
librosa==0.11.0
numpy==2.3.4
pandas==2.3.3
soundfile==0.13.1
torch==2.8.0
torchaudio==2.8.0
torchcodec==0.8.0
tqdm==4.67.1
transformers==4.57.1